.box-card {
    min-height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 1px 2px;
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(241, 248, 250);
}

.componentBtn {
    width: 200px;
    text-transform: uppercase;
}
.footerLink{
    text-decoration: none;
    color: white;
    
}

.banner{
    background-image: url('../images/banner.png');
    height: 85vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner p {
    text-align: justify;
}